label, input, button {
   margin: 8px;
   padding: 10px; 
   /* color: black; */
   text-align: center;  
} 

.btn {
     background-color: black;
}

div {
    align-items: center;
    text-align: center;
}

footer {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 40px;
    background-color: #c93333;
}