button{
    font-size:16px;
        /* // borderColor: "black", */
        color: white;
        border-radius: 30px;
        border-color: black;
        width: 100px;
        /* padding: 15px; */
        margin: 10px;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #021a1b;
}

.counterButton{ 
     background-color: #00a5ab;

}
.resetButton{
    background-color: #581b7c;
   
    box-shadow: 1px 1px 1px 1px #070607;
}
.count {
    font-size: 30px;
    /* padding: 10px; */
}

.totalcount{
    font-size: 140px;
    color: #d740eb;
}